.bg-custom{
    background-color: #F4A274 !important;
}

.input-group{
    padding: 10px;
}
.search-input-custom{
    border: 0;
    border-radius: 50px 0 0 50px !important;
    padding-left: 30px;
}

.search-icon-cutom{
    border-radius: 0 50px 50px 0 !important;
    border: 0;
    background-color: white;
    color: black;
}

.has-search .form-control {
    padding-left: 50px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}